
certifi==2018.1.18
dill==0.2.7.1
Flask==0.12.2
Flask-Cors==3.0.3
Flask-SQLAlchemy==2.3.2
glob2==0.5
graphviz==0.8.2
Jinja2==2.9.6
Keras==2.1.5
matplotlib==2.1.0
numpy==1.13.3
oauth2client==3.0.0
oauthlib==2.0.6
pandas==0.20.3
pickleshare==0.7.4
py==1.4.34
PyMySQL==0.7.11
pyspark==2.3.0
requests==2.18.4
requests-oauthlib==0.8.0
requests-toolbelt==0.8.0
rope==0.10.5
rsa==3.4.2
scikit-image==0.13.0
scikit-learn==0.19.1
scipy==0.19.1
SQLAlchemy==1.2.1
tensorboard==1.7.0
tensorflow==1.7.0
urllib3==1.22
us==1.0.0
